.zsiq_floatmain.zsiq_theme1.siq_bR {
    display: none !important;
}

#contact-sec {
    text-align: center;
}

.button-secondary {
    border: 1.5px solid #153180;
    color: #153180;
    background: none;
    padding: 12px;
    border-radius: 40px; 
    font-weight: bold;
}